# .env

# email js configuration
NEXT_PUBLIC_APP_SERVICE_ID=XXXXXXXXXXXXXXXX
NEXT_PUBLIC_APP_TEMPLATE_ID=XXXXXXXXXXXXXXXX
NEXT_PUBLIC_APP_EMAILJS_KEY=XXXXXXXXXXXXXXXX
NEXT_PUBLIC_APP_EMAILJS_RECIEVER=your@email.com

GEMINI_API_KEY=xxxxxxxxxxxx
GEMINI_MODEL=gemini-3.1-flash-lite
